@tailwind base;
@tailwind components;
@tailwind utilities;


header ul li{
 @apply px-2;
}

.bg-primary{
  background: rgb(11, 11, 11);
}


.mobile-nav{
  @apply fixed top-10 left-0 bg-gray-600 w-full h-1/5;
}

.mobile-nav li{
  @apply h-full w-full text-center border-b-2;
}

.bg-image{
  background-image: url(assests/camera.png);
  background-size : cover;
  background-repeat : no repeat;
 
}